body{
    background-color: white;
};

#top {
    text-align: center;
}

.container{
    text-align: center;
}

#top h1{
    font-size: 40px;
    color: gray;
    text-align: center;
    padding: 2%;
}

.color{
    width: 90px;
    height: 100px;
    margin: 1%;
    border: 1px solid black;
    display: inline-block;    
}

#button-random-color{
    border-radius: 20px;
    border-style: none;
    padding: 15px 30px;
    text-align: center;
    font-size: larger;
    background-color: gray;
    color: white;
    margin-top: 25px;
}

